@using ProjectAndTeamManagement.Models.DepartmentLead

@model RequestModel

<h2>Assignment Requests</h2>

<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Request To</th>
                <th scope="col">Request For</th>
                <th scope="col">For Project</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model.Requests)
            {
                <tr>
                    <td></td>
                    <td>@Model.Employees.FirstOrDefault(x => x.Id == request.DepartmentLeadId)?.FullName</td>
                    <td>@request.Employee.FullName</td>
                    <td>@request.Project.Name</td>
                    <td>@request.StartDate</td>
                    <td>@request.EndDate</td>
                    <td>@request.RequestStatus?.StatusName</td>
                    <td>
                        @if (request.RequestStatusId == 1)
                        {
                            <button class="btn btn-primary" onclick="location.href='@Url.Action("ApproveRequest", "TeamLead", @request)'">Approve</button>
                            <button class="btn btn-secondary" onclick="location.href='@Url.Action("DeclineRequest", "TeamLead", @request)'">Decline</button>
                        }else{
                            <p>No Action</p>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>