@using ProjectAndTeamManagement.Models.ProjectLead
@model AssignmentsList


<h2>Current Assignments</h2>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Team</th>
                <th scope="col">Team Lead</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.Email</td>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.Team?.TeamName</td>
                    <td>@Model.Employees.FirstOrDefault(x => x.Id == employee.Team?.TeamLeadId)?.FullName</td>
                </tr>
            }
        </tbody>
    </table>
</div>