@using Domain
@using ProjectAndTeamManagement.Models
@using ProjectAndTeamManagement.Models.DepartmentLead

@{
    ViewData["Title"] = "Project Assignments";
}

@model EmployeesListVM
<h2>Project Assignments</h2>
<h4>Department Lead</h4>


<div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Project</th>
                <th scope="col">Team</th>
                <th scope="col">Team Lead</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var employee in Model.Employees)
            {
                @if (employee.RoleId != "1")
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        @if(@employee.Project?.Name != null)
                        {
                            <td>@employee.Project?.Name</td>
                        }
                        else
                        {
                            <td>/</td>
                        }
                        <td>@employee.Team?.TeamName</td>
                        <td>@employee.Project?.ProjectLead?.FullName</td>
                        <td>
                            @if (@employee.Team?.TeamName == "Unassigned")
                            {
                                <button type="button" class="btn btn-primary"asp>Add to project</button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger">Remove from project</button>
                            }
                        </td>
                    </tr>                    
                }
            }
        </tbody>
    </table>
</div>